extends layout

style

block content

  script(src='/js/sarasfit/main.js' type='text/javascript')

  div.container

    div.row
      div(class="col-md-12 text-center")
        img(src="/images/main01.png" class="img-responsive")

    div.row
      div(class="col-md-12 text-center")
        h2 안녕하세요. 사라스핏의 SARA입니다 :)

    div.row
      div(class="col-md-12 text-center")
        h5 저희 서비스를 더욱 편리하게 이용하실수 있게  간단한 브라 핏테스트를 준비했어요.
        h5 자신에게 맞는 속옷추천을 위해 지금 등록해보세요~

    div.row
      div(class="col-md-12 text-center")
        br
        button(type="button" class="btn btn-primary btn-lg" id="start") START
        br
