doctype html
html
  head
    title Saras'Fit TEST

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/image-picker.css')

    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/animations.min.css')
    link(rel='stylesheet', href='/css/lightbox.css')

    script(src='/js/vendor/modernizr-2.6.2.min.js')

    script(src='/js/jquery-1.11.1.js' type='text/javascript')
    script(src='/js/bootstrap.js' type='text/javascript')
    script(src='/js/image-picker.js' type='text/javascript')

    //script(src="/js/vendor/jquery-1.10.2.min.js")
    script(src="/js/plugins.js")
    //script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")
    script(src="/js/animations.min.js")
    script(src="/js/jquery.scrollUp.min.js")
    script(src="/js/lightbox.min.js")
    script(src="/js/smoothscroll.js")
    script(src="/js/visible.min.js")
    script(src="/js/jquery.nav.js")

  body
    block content
